<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!-- DELETE USER ACCOUNT -->
  <div class="card">
    <div class="card-header">
      <h4>Log In</h4>
    </div>
    <div class="card-body">
      <div class="field form-group mb-3 form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput1", placeholder:"Email???", required:true %>
        <label class="text-muted" for="floatingInput1">Email</label>
      </div>

      <div class="field form-group mb-3 form-floating">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingInput2", placeholder:"Password", required:true %>
        <label class="text-muted" for="floatingInput2">Password</label>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group form-check mb-3">
          <%= f.check_box :remember_me, class:"form-check-input" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class:"btn btn-success", :style => 'width: -webkit-fill-available' %>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
