<h1>My List of Edible Plants</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Taxonomic Name</th>
        <th>Common Name</th>
        <th>Cultivation Group</th>
        <th>Temperature Class</th>
        <th>Water Requirements</th>
        <th>Nutritional Information</th>
        <th>Image</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @plants.each do |plant| %>
        <% if plant.user == current_user %>
          <tr>
            <td><%= plant.id %></td>
            <td><%= plant.taxon_name %></td>
            <td><%= link_to plant.common_name, plant %></td>
            <td><%= plant.cultivation_group %></td>
            <td><%= plant.temperature_class %></td>
            <td><%= plant.water_requirements %></td>
            <td><%= plant.nutritional_information %></td>
            <td>
              <!-- CHECK IF IMAGE IS NOT EMPTY -->
              <%if plant.image != "" %>
                <img src="data:image/jpeg;base64,<%= plant.image %>" style="width:100px; height:auto;">
              <%end%>
            </td>
            <td>
                <%= link_to '', plant, class:"bi bi-eye-fill text-primary visible" %>
            </td>
            <td>

              <a class="bi bi-trash-fill text-danger visible" style="cursor:pointer" onclick="

                //prepare plant URL 
                var redirect = '<%= plants_path %>/<%= plant.id %>';

                //Check if name of plant is empty
                let plantName = '<%= plant.common_name %>';
                if(plantName == ''){
                  plantName = '(NO-NAME)';
                }else{
                  let temp = '('+plantName+')';
                  plantName = temp;;
                }

                //Show alert for deleting a plant
                Swal.fire({
                  title: 'Are you sure you want to delete '+plantName+' from your list?',
                  text: 'You won\'t be able to revert this!',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                  //IF DELETE
                  if(result.isConfirmed){
                    Swal.fire(
                      'Deleted!',
                      'The plant '+plantName+' has been deleted.',
                      'success'
                    );
                    
                    Rails.ajax({
                        type: 'DELETE',
                        url: redirect,
                        success: function(response){ 
                          //Plant has been deleted!
                        },
                        error: function(response){ 
                          //Error with Ajax
                          alert('error with AJAX DELETE request:\n' + response) 
                        }
                      });
                  }
                  //IF Cancel
                  else{
                    Swal.fire(
                      'Cancelled!',
                      'The plant '+plantName+' remains on your list.',
                      'error'
                    );
                  }
                })
              "></a>

              <%#= link_to '', plant, method: :delete, data: { confirm: 'delete' }, class:"bi bi-trash-fill text-danger visible" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Plant', new_plant_path, class:"btn btn-primary" %>


